div.ctools-sms-popup {
	background:none;
	border:0;
	color:#000000;
	margin:0;
	padding:0;
	text-align:left;
        
}
div.ctools-sms-popup .modal-scroll{
	overflow:hidden;
	overflow-y:auto;
}
div.ctools-sms-popup #popups-overlay {
  background-color:transparent;
}
div.ctools-sms-popup #popups-loading {
  width:248px;
  position:absolute;
  display:none;
  opacity:1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:99;
}
div.ctools-sms-popup #popups-loading span.popups-loading-message {
  background:#FFF url(../images/loading-large.gif) no-repeat 8px center;
  display:block;
  color:#444444;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  height:36px;
  line-height:36px;
  padding:0 40px;
}
div.ctools-sms-popup #popups-loading table,
div.ctools-sms-popup .popups-box table {
	margin:0px;
}
div.ctools-sms-popup #popups-loading tbody,
div.ctools-sms-popup .popups-box tbody {
	border:none;
}
div.ctools-sms-popup .popups-box tr {
	background-color:transparent;
}
div.ctools-sms-popup td.popups-border {
  background: url(../images/popups-border.png);
  background-color:transparent;
  border: none;
}
div.ctools-sms-popup td.popups-tl,
div.ctools-sms-popup td.popups-tr,
div.ctools-sms-popup td.popups-bl,
div.ctools-sms-popup td.popups-br {
  background-repeat: no-repeat;
  height:10px;
  padding:0px;
}
div.ctools-sms-popup td.popups-tl { background-position: 0px 0px; }
div.ctools-sms-popup td.popups-t,
div.ctools-sms-popup td.popups-b {
  background-position: 0px -40px;
  background-repeat: repeat-x;
}
div.ctools-sms-popup td.popups-tr { background-position: 0px -10px; width: 10px; }
div.ctools-sms-popup td.popups-cl,
div.ctools-sms-popup td.popups-cr {
  background-position: -10px 0;
  background-repeat: repeat-y;
  width:10px;
}
div.ctools-sms-popup td.popups-cl,
div.ctools-sms-popup td.popups-cr,
div.ctools-sms-popup td.popups-c { padding:0; border: none; }
div.ctools-sms-popup td.popups-c { background:#fff; }
div.ctools-sms-popup td.popups-bl { background-position: 0px -20px; }
div.ctools-sms-popup td.popups-br { background-position: 0px -30px; width: 10px; }

div.ctools-sms-popup .popups-box,
div.ctools-sms-popup #popups-loading {
  border: 0px solid #454545;
  opacity:1;
  overflow:hidden;
  padding:0;
  background-color:transparent;
}
div.ctools-sms-popup .popups-container {
  overflow:hidden;
  height:100%;
  background-color:#fff;
}
div.ctools-sms-popup div.popups-title {
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  margin-bottom:0px;
  background-color:#ff7200;
  border:1px solid #ce5c00;
  padding:4px 10px 5px;
  color:white;
  font-size:1em;
  font-weight:bold;
}
div.ctools-sms-popup .popups-body {
  background-color:#fff;
  padding:8px;
}
div.ctools-sms-popup .popups-box .popups-buttons,
div.ctools-sms-popup .popups-box .popups-footer {
  background-color:#fff;
}
div.ctools-sms-popup .popups-title a.close {
  color: #fff;
  text-decoration:none;
}
div.ctools-sms-popup .popups-close {
	font-size:90%;
	float:right;
	text-align:right;
}
div.ctools-sms-popup .modal-loading-wrapper {
	width:220px;
	height:19px;
	margin:0 auto;
	margin-top:2%;
}

div.ctools-sms-popup tbody{
	border:none;
}

div.ctools-sms-popup .modal-content .modal-throbber-wrapper img {
  margin-top: 100px;
}
div.ctools-sms-popup .form-submit,
div.ctools-sms-popup .form-type-textfield
{
    display:inline;
}
/*
#sms-altform-form {
    padding-top:20px;
}*/